@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Open+Sans:wght@700;800&family=Poppins:wght@800&family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #B2D4ED;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }